body{
  background-color: #ffffff;
  text-align: center;
  font-family: Arial;
  color: blue;
  margin: -2px;


  /* display: flex;
  justify-content: center;
  align-items: center; */

}



.wrapper {
  display: grid;
  grid-template-columns:200px 500px 200px;
  grid-template-rows: 90vh;
  gap: 10px;

  margin: auto;
  /* border: 3px solid black; */
  width: 920px;

}
.one {
  grid-column: 1;
  grid-row: 1;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  border-top: 0px;
  border-bottom: 0px;
  float:left;
  margin:0;
  padding: 10px;

}
.two {
  grid-column: 2;
  grid-row:1;
  display: grid;
  background-color: #ffffff;
  gap: 20px;
  grid-template-columns: 140px 180px 140px;
  grid-template-rows: 50px auto;

}
.three{
  padding: 10px;
  grid-column: 3;
  grid-row:1;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  border-top: 0px;
  border-bottom: 0px;
}

.community{
  grid-column:1;
  grid-row:2
}
.housing{
  grid-column:2;
  grid-row:2
}
.jobs{
  grid-column:3;
  grid-row:2
}
.location{
  padding: 10px;
  grid-column:1/4;
  grid-row: 1;
  color: #ccc;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  border-left: 0px;
  border-right: 0px;
}
.calen{
  background: #ccc;
  text-align:center;
  
}
table {
  border-collapse: collapse;
  display:table;
}
tbody{
  display: table-row-group;
}
#sun{
  background:#f4f4f4;
  font-weight: 100;
}
.ccc{
  padding: 2px;
  font-size: 16px;
  grid-row: 1;
  /* color: #ccc; */
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  border-left: 0px;
  border-right: 0px;
}
#com{
  grid-column: 1;
}

a:link{
  text-decoration: none;
}
